[Unit]
Description=Run RPerks coupon activator on a schedule

[Timer]
OnCalendar=*-*-* 0/12:02:04
Persistent=true
RandomizedDelaySec=10min

[Install]
WantedBy=timers.target
